/* Teste de deploy */
body {
  background: red; /* fundo vermelho para testar */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header h1 {
  font-size: 3rem; /* título gigante */
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
}

footer {
  margin-top: 5rem;
  font-size: 1rem;
}
